---
layout: default
---

<!-- Seats background image, fixed, scroll over -->
<div class="landing blog">
  <div class="container">

    <div scroll-position="scroll"></div>
    <!-- <div class="greeting" ng-style="fadeTitle()"> -->
    <div class="greeting blog">
      <h2 class="underline">{{ page.title }}</h2>
      <div class="divider"></div>
      <!-- <h3>{{ page.excerpt }}</h3> -->
      <h3>{{ page.date | date_to_string }}</h3>
    </div>

  </div>
</div>


<div class="site post">
  <div class="container blog-inner">
    <div class="headshot">
      <img src="{{ site.url }}/image/headshot-ben.png" alt="Ben Parkison Photo" >
      <div class="author">{{ page.author }}</div>
    </div>
    <div class="post-container">
    
      <div class="post">
      {{ content }}
      </div>

      <span> {{ page.author }}</span>

      <h4 class="text-right social-media">
        <!-- <span class="ikon-twitter"></span> -->
        <!-- <span class="ikon-linkedin"></span> -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="AppliedByDesign">Tweet</a>

        <div class="g-plusone" data-size="medium"></div>

      </h4>
    </div>
     
<!--     <h5 class="paginate">
      <span class="prev">
        <span><span class="ikon-chevron-left ikon"> </span> PREV</span>
      </span>
      <span>&nbsp/&nbsp</span>
      <span class="next">
        <span>NEXT <span class="ikon-chevron-right ikon"></span></span>
      </span>
    </h5>
 -->
  </div>
</div>

    <script type="text/javascript">
      //  TWITTER +1
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    
      //  GOOGLE+ +1
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>