/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

// /* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm) { ... }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md) { ... }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg) { ... }


// @import "sass-bootstrap/lib/bootstrap.scss";
@import 'sass-bootstrap/lib/bootstrap.scss';
@import '../fonts/myfonts';
@import 'lib/axd-mixins'; 
@import 'lib/axd-colors'; 
@import 'lib/global-overrides'; 
@import 'lib/axd-variables'; 
@import 'lib/utilities'; 
@import 'lib/logo'; 
@import 'lib/landing'; 
@import 'lib/footer'; 
@import 'lib/buttons'; 




.blog-inner {
  max-width: 52em;
  padding-top: 50px; 

  h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  p {
    font-size: 1.6rem;
    margin: 10px 0 20px 0;
  }
}

a         { color: $color-blue; }
a:hover   { color: $color-blue + rgb(20,20,20); }
a:visited { color: $color-gray; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 0;
}

ul.posts li {
  line-height: 1.0em;
}

ul.posts span {
  color: #aaa;
  // font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  text-transform: uppercase;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  background-color: #FFF;
  margin-top: 400px;
  position: relative;
  z-index: 100;
  margin-bottom: 140px;
  padding-bottom: 50px;
  
  &.post {
    margin-top: 300px;
  }

  .headshot {
    width: 100%;
    // margin: auto;
    text-align: center;
    img {
      width: 100px;
    }

    .author {
      text-align: center;
      margin: 10px 0;
      letter-spacing: 10px;
    }
  }
  // font-size: 1rem;
  // text-align: justify;
  // max-width: 42em;
  // padding: 20px 20px 20px 20px;
  // margin: 5em auto 2em;
  // line-height: 1.6em;

  // h2 {
    // margin-top: 5px;
  // }

  // p {
    // margin: 0.5em auto;
  // }

  span {
    color: #aaa;
  }

  .separator {
    position: relative;
    width: 100%;
    border-bottom: solid 1px #ccc;
    margin: auto;

    &:first-child {
      border-bottom: none;
    }
  }
}

.site .post-container {
  padding: 10px 0 30px 0;

  h1 {
    border-bottom: solid 1px #ccc;
  }
}

.site .post-wrap {
  // border-left: solid 8px #FFF;
  // margin: 20px 0;

  // @media (min-width: $screen-md){
    
  //   padding: 0 0 0 30px;
  //   -webkit-transition-property: border-left;
  //   -moz-transition-property: border-left;
  //   -o-transition-property: border-left;
  //   transition-property: border-left;
  //   -webkit-transition-duration: 0.2s;
  //   -moz-transition-duration: 0.2s;
  //   -o-transition-duration: 0.2s;
  //   transition-duration: 0.2s;
      
  //   &:hover {
  //     border-left: solid 8px #ccc;
  //   }
  // }

  .author {
    @media (min-width: $screen-sm){
      text-align: right;
    }
  }
}

.site .paginate {
  text-align: center;
  border-top: solid 1px #ccc;
  padding-top: 10px;

  .ikon {
    font-size: 0.8em;
  }
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 1px solid #ccc;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.site .social-media {
  font-size: 1.4rem;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post img {
  max-width: 100%;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


